{% extends 'base.html' %}

{% block content %}


<div class="centre">
    <div class="create-form">
        <h1>Create Team</h1>
        <form action="{{url_for('create_team')}}" method="post">
            {{form.hidden_tag()}}

            <input type="text" name="team_name" id="team_name" placeholder="Team Name" required>

            <textarea type="textarea" name="team_bio" id="team_bio" placeholder="Write a description for your team..."></textarea>

            <input type="number" name="limit" id="limit" placeholder="Team Size Limit: Must be between 2 and 20" required>

            {{form.availability}}

            {{form.skill_level}}

            <input type="submit" value="Create Team">

        </form>
    </div>

</div>


{% endblock %}
