{% extends "base.html" %}

{% block content %}
<div class="centre">
    <div class="create-form">
        <a href="{{url_for('upload_pfp')}}"><i class="fa-solid fa-file-import"></i>   Upload Profile Picture</a>
        <form action="{{url_for('edit_profile')}}" method="post">
            {{ form.hidden_tag() }}

            <label for="user_bio">About Me</label>
            <textarea id="user_bio" name="user_bio">{{current_user.user_bio}}</textarea>

            <label for="pronouns">Pronouns</label>
            <input type="text" id="pronouns" name="pronouns" value="{{current_user.pronouns}}">

            {{form.skill_level.label}}
            {{form.skill_level}}

            {{form.grade.label}}
            <select id="grade" name="grade">
                {% if current_user.role == "Student" %}
                <option value="3">Grade 3</option>
                <option value="4">Grade 4</option>
                <option value="5">Grade 5</option>
                <option value="6">Grade 6</option>
                <option value="7">Grade 7</option>
                <option value="8">Grade 8</option>
                <option value="9">Grade 9</option>
                <option value="10">Grade 10</option>
                <option value="11">Grade 11</option>
                <option value="12">Grade 12</option>
                {% endif %}
                {% if current_user.role == "Staff" %}
                <option value="Staff">Staff</option>
                {% endif %}
                {% if current_user.role == "Sponsor" %}
                <option value="Sponsor">Sponsor</option>
                {% endif %}

            </select>

            {{form.availability.label}}
            {{form.availability}}

            <br>
            <input type="submit" value="Save changes">
        </form>
    </div>
</div>


{% endblock %}