{% extends 'base.html' %}

{% block content %}

<div class="centre">
    <div class="gen-container">
        <h1>Following</h1>
        {% if following %}
        <div class="info-table lineup">
            <table>
                <tr>
                    <th>Username</th>
                </tr>
                {% for user in following %}
                <tr>
                    <td><a href="{{url_for('user', username=user.username)}}"><i
                            class="fa-solid fa-circle-chevron-right"></i> {{user.username}}</a></td>
                </tr>
                {% endfor %}
            </table>

        </div>
        {% else %}
        <p>{{user.username}} doesn't follow anyone</p>
        {% endif %}
    </div>
</div>

{% endblock %}
