{% extends 'base.html' %}

{% block content %}

<h1>{{game.game_title}}</h1>

{% if favourite == 0 %}
    <a href="{{url_for('favourite_game', game_id=game.game_id)}}">Favourite</a>
{% else %}
    <a href="{{url_for('favourite_game', game_id=game.game_id)}}">Unfavourite</a>
{% endif %}

<p>Platform: {{game.platform}}</p>
<p>Genre: {{game.genre}}</p>
<p>Year: {{game.year}}</p>
<p>Publisher: {{game.publisher}}</p>
<p>Global Sales: {{game.global_sales}}</p>
<p> Sales Ranking: {{game.sales_ranking}}</p>

<h2>Posts about this game</h2>
<a href="{{url_for('game_post', game_id=game.game_id)}}">Create a post about this game</a>
{% for post in posts %}
    <hr>
    <h3>{{post.post_title}} | posted on {{post.post_date}}</h3>
    <p>{{post.post_content}}</p>
{% endfor %}

{% endblock %}
