{% extends 'base.html' %}

{% block content %}





<div class="centre">
    <div class="game-container">
        <h1>{{game.game_title}}</h1>
        {% if favourite == 0 %}
        <a href="{{url_for('favourite_game', game_id=game.game_id)}}"><i class="fa-regular fa-heart"></i>  Favourite</a>
        {% else %}
        <a href="{{url_for('favourite_game', game_id=game.game_id)}}"><i class="fa-solid fa-heart"></i>  Unfavourite</a>
        {% endif %}
        <div class="info-table firstcolumn">
            <table>
                <tr>
                    <td>Platform</td>
                    <td>{{game.platform}}</td>
                </tr>
                <tr>
                    <td>Genre</td>
                    <td>{{game.genre}}</td>
                </tr>
                <tr>
                    <td>Year</td>
                    <td>{{game.year}}</td>
                </tr>
                <tr>
                    <td>Publisher</td>
                    <td>{{game.publisher}}</td>
                </tr>
                <tr>
                    <td>Global Sales</td>
                    <td>{{game.global_sales}}</td>
                </tr>
                <tr>
                    <td>Sales Ranking</td>
                    <td>{{game.sales_ranking}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="game-container">
        <h2>Posts about this game</h2>
        <a href="{{url_for('game_post', game_id=game.game_id)}}"><i class="fa-solid fa-square-plus"></i>   Create a post about this game</a>
        {% if posts %}
        {% for post in posts %}
        <div class="posts">
            <h3>{{post.post_title}} | posted on {{post.post_date}}</h3>
            <p>{{post.post_content}}</p>
        </div>
        {% endfor %}
        {% else %}
        <p>There are no posts about this game yet.</p>
        {% endif %}
    </div>
</div>





{% endblock %}
