{% extends 'base.html' %}

{% block content %}

<form action="" method ="post" novalidate>
  {{form.hidden_tag()}}

  <label for="username">Username</label>
  <input type="text" name="username" id="username" required>
  {% for error in form.username.errors %}
  <span style="color:red">[{{ error }}]</span>
  {% endfor %}


  <label for="password">Password</label>
  <input type="password" name="password" id="password" required>
  {% for error in form.password.errors %}
  <span style="color:red">[{{ error }}]</span>
  {% endfor %}


  <label for="remember_me">Remember Me</label>
  <input type="checkbox" name="remember_me" id="remember_me">

  <input type="submit" value="Sign In">

</form>

{% endblock %}