{% extends 'base.html' %}

{% block content %}

<div class="centre">
  <div class="gen-container">
    <h1>Match {{match.round_match}}, Round {{match.round}}</h1>
    {% if current_user.role == 'Staff' %}
    <a href="{{url_for('add_match_winner', match_id=match.match_id)}}">Add Winner</a>
    <a href="{{url_for('add_match_details', match_id=match.match_id)}}">Add Players and Date</a>
    {% endif %}

    {% if match.match_date %}
    <p><i class="fa-regular fa-calendar-days"></i> {{ match.match_date|format_date }}</p>
    {% endif %}

    {% if winner %}
    <p><i class="fa-solid fa-award"></i>  {{ winner.username }}</p>
    {% endif %}

    <div class="info-table lineup">
      <table>
        <tr>
          <th>Players</th>
        </tr>
        {% for player in players %}
        <tr>
          <td><a href="{{url_for('user', username=player.username)}}"><i class="fa-solid fa-circle-chevron-right"></i>   {{player.username}}</a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock %}