{% extends 'base.html' %}

{% block content %}

<div class="centre">
    <div class="create-form">
        <h1>Comment on {{post_user.username}}'s post '{{post.post_title}}'</h1>
        <form action="{{url_for('post_comment', post_id=post.post_id)}}" method="post">
            {{ form.hidden_tag() }}

            <textarea name="comment_content" id="comment_content" placeholder="Comment here..."></textarea>

            <input type="submit" value="Submit">
        </form>

    </div>
</div>




{% endblock %}