{% extends 'base.html' %}

{% block content %}

<h1>{{post.post_title}}</h1>

{%if current_user.username == creator.username%}
    <a href="{{url_for('delete_post', post_id=post.post_id)}}">Delete</a>
{%endif%}

<br>
<a href="{{url_for('user', username=creator.username)}}">{{creator.username}}</a>
<h2>Category: {{post.post_type}}</h2>
<hr>
<p>{{post.post_content}}</p>

<p>{{post.likes}}</p>

{% if is_liked == 1 %}
    <a href="{{url_for('like', post_id=post.post_id)}}">Unlike</a>
{% else %}
    {% if my_post == 0 %}
        <a href="{{url_for('like', post_id=post.post_id)}}">Like</a>
    {% endif %}
{% endif %}

{% endblock %}
