{% extends 'base.html' %}

{% block content %}

<form action="{{ url_for('search') }}" method="post">
    {{ form.hidden_tag() }}
    <div class="search-bar">
        <input type="text" name="game_title" id="game_title" placeholder="Search for games...">
        <input type="submit" value="Search">
        <a href="javascript:showFilters()"><i class="fa-solid fa-filter"></i></a>
    </div>
    <div class="search-filter-container">
        <div class="search-filters">
            {{form.platform}}
            {{form.genre}}
            <input type="text" name="publisher" id="publisher" placeholder="Publisher..." value="">

            <input type="number" name="year" id="year" placeholder="Year...">
        </div>
    </div>





</form>

{% endblock %}
