{% extends 'base.html' %}

{% block content %}
<div class="centre">
    <a href="{{url_for('create_team')}}"><i class="fa-regular fa-square-plus"></i>   Create a Team</a>
</div>

<form action="{{ url_for('team_search') }}" method="post">
    {{ form.hidden_tag() }}

    <div class="search-bar">
        <input type="text" name="team_name" id="team_name" placeholder="Search for a team...">
        <input type="submit" value="Search">
        <a href="javascript:showFilters()"><i class="fa-solid fa-filter"></i></a>
    </div>
    <div class="search-filter-container">
        {{form.skill_level}}
        {{form.availability}}

        <input type="number" name="limit" id="limit" placeholder="Minimum Team Size" min="2" max="20">
    </div>





</form>


{% endblock %}