{% extends 'base.html' %}

{% block content %}

<h1>Search Teams</h1>

<a href="{{url_for('create_team')}}">Create a Team</a>

<form action="{{ url_for('team_search') }}" method="post">
    {{ form.hidden_tag() }}

    <label for="team_name">Team Name:</label>
    <input type="text" name="team_name" id="team_name">

    <select name="skill_level" id="skill_level">
        <option value="Any Skill Level">Any Skill Level</option>
        <option value="Beginner">Beginner</option>
        <option value="Intermediate">Intermediate</option>
        <option value="Advanced">Advanced</option>
        <option value="Expert">Expert</option>
        <option value="Unsure">Unsure</option>
    </select>

    <select name="availability" id="availability">
        <option value="Any Availability">Any Availability</option>
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
        <option value="Sunday">Sunday</option>
        <option value="Weekdays">Weekdays</option>
        <option value="Weekends">Weekends</option>
        <option value="Anytime">Anytime</option>
        <option value="After School">After School</option>
        <option value="Before School">Before School</option>
        <option value="Unsure">Unsure</option>
    </select>

    <input type="number" name="limit" id="limit" placeholder="Minimum Team Size" min="2" max="20">

    <input type="submit" value="Search">

</form>


{% endblock %}