{% extends "base.html" %}

{% block content %}

<div class="centre">
    <div class="gen-container">
        <h1>{{tournament.tournament_name}}</h1>

        {% if in_tournament == 0 %}
        <a href="{{url_for('join_tournament', tournament_id=tournament.tournament_id)}}"><i
                class="fa-solid fa-right-to-bracket"></i>  Join Tournament</a>
        {% else %}
        <a href="{{url_for('join_tournament', tournament_id=tournament.tournament_id)}}">Leave Tournament <i
                class="fa-solid fa-right-from-bracket"></i></a>
        {% endif %}

        <p>{{tournament.tournament_description}}</p>

        <p><i class="fa-solid fa-calendar-days"></i>   {{tournament.tournament_start|format_date}} - {{tournament.tournament_end|format_date}}</p>
        {% if winner %}
        <h3><i class="fa-solid fa-trophy"></i>   {{winner.username}}</h3>
        {% endif %}

        <div class="info-table firstcolumn">
            <table>
                <tr>
                    <td>Minimum Grade</td>
                    <td>{{tournament.tournament_min_grade}}</td>
                </tr>

                <tr>
                    <td>Skill Level</td>
                    <td>{{tournament.tournament_skill_level}}</td>
                </tr>
            </table>
        </div>

        {% if user.role == 'Staff' %}
        <a href="{{url_for('add_winner', tournament_id=tournament.tournament_id)}}"><i
                class="fa-regular fa-square-plus"></i>   Add Winner</a>
        {% endif %}

        <div class="info-table lineup">
            <p>Max Participants: <i class="fa-solid fa-user"></i>   {{p_number}}/{{tournament.participants}}</p>
            <table>
                <tr>
                    <th>Participants</th>
                </tr>

                {% for participant in participants %}
                <tr>
                    <td><a href="{{url_for('user', username=participant.username)}}"><i
                            class="fa-solid fa-circle-chevron-right"></i>   {{participant.username}}</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div class="info-table lineup">
            <h1>Matches</h1>
            <table>
                <tr>
                    <th>Match</th>

                </tr>

                {% for match in matches %}
                <tr>
                    <td><a href="{{url_for('match', match_id=match.match_id)}}"><i
                            class="fa-solid fa-circle-chevron-right"></i>   Round
                        {{match.round}}, Match {{match.round_match}}</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>



    </div>
</div>


{% endblock %}