{% extends "base.html" %}

{% block content %}

{% if role == 'Staff' %}
    <a href="{{url_for('create_tournament')}}">Create Tournament</a>
{% endif %}

<form action="{{url_for('tournament_search')}}" method="post">
    {{form.hidden_tag()}}

    <label for="tournament_name">Tournament Name:</label>
    <input type="text" id="tournament_name" name="tournament_name" required>

    <label for="tournament_skill_level">Skill Level:</label>
    <select id="tournament_skill_level" name="tournament_skill_level">
        <option value="Any Skill Level">Any Skill Level</option>
        <option value="Beginner">Beginner</option>
        <option value="Intermediate">Intermediate</option>
        <option value="Advanced">Advanced</option>
        <option value="Expert">Expert</option>
        <option value="Unsure">Unsure</option>
    </select>

    <label for="tournament_min_grade">Minimum Grade:</label>
    <select id="tournament_min_grade" name="tournament_min_grade">
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
    </select>

    <label for="tournament_start_date">Start Date:</label>
    <input type="date" id="tournament_start_date" name="tournament_start_date">

    <label for="tournament_end_date">End Date:</label>
    <input type="date" id="tournament_end_date" name="tournament_end_date">

    <input type="submit" value="Search">
</form>

{% endblock %}
