{% extends "base.html" %}
{% block content %}



<div class="row">

    <div class="half">
        <div class="user-box">
            <div class="user-header">

                <div class="row">
                    <div class="quarter">
                        {% if user.pfp %}
                        <img src="{{url_for('static', filename='pfps/' + user.pfp)}}"
                             alt="profile picture for {{user.username}}">
                        {% else %}
                        <img src="{{url_for('static', filename='pfps/default.jpg')}}"
                             alt="default profile picture of a stylised person on a grey background">
                        {% endif %}
                    </div>
                    <div class="three-quarter">
                        <h3>{{user.username}}</h3>
                        {% if user.role == "Staff" %}
                        <p><i class="fa-solid fa-chalkboard-user"></i>  Staff member</p>
                        {% endif %}

                        {% if user.role == "Sponsor" %}
                        <p><i class="fa-solid fa-magnifying-glass-dollar"></i>   Official sponsor</p>
                        {% endif %}

                        {% if user.pronouns %}
                        <p>{{user.pronouns}}</p>
                        {% endif %}
                        <a href="{{url_for('following', username=user.username)}}">Following</a>
                        <a href="{{url_for('followers', username=user.username)}}">Followers</a>
                        {% if current_user.role == "Sponsor" %}
                            {% if user.role == "Student" %}
                            {% if is_sponsored == False %}
                            <a href="{{url_for('add_sponsor', user_id=user.user_id)}}"><i
                                class="fa-solid fa-hand-holding-dollar"></i>  Sponsor</a>
                            {% else %}
                            <a href="{{url_for('remove_sponsor', user_id=user.user_id)}}"><i
                                class="fa-solid fa-hand-holding-dollar"></i>  Remove Sponsorship</a>
                            {% endif %}
                            {% endif %}
                        {% endif %}
                        <br>

                        {% if current_user.username == user.username %}
                        <a href="{{url_for('edit_profile')}}"><i class="fa-solid fa-pen"></i>  Edit Profile</a>
                        {% else %}
                            {% if mutuals %}
                            <p style="padding: 0.5em;"><i class="fa-solid fa-user-group"></i>  Mutuals</p>
                            {% endif %}

                            {% if is_following %}
                            <a href="{{url_for('unfollow', username=username)}}"><i class="fa-solid fa-user-minus"></i>  Unfollow</a>
                            {% else %}
                            <a href="{{url_for('follow', username=username)}}"><i class="fa-solid fa-user-plus"></i>  Follow</a>
                            {% endif %}
                        {% endif %}

                    </div>



                </div>

            </div>
            <div class="user-header">
                {% if is_sponsee %}
                <div class="gen-container">
                    <p>Sponsored by <a href="{{url_for('user', username=sponsor.username)}}">{{sponsor.username}}</a></p>
                </div>
                {% endif %}
                <div class="row">

                    <p>{{user.user_bio}}</p>
                </div>
                <div class="info-table firstcolumn">
                    <table>
                        <tr>
                            <td>Grade</td>
                            <td>{{user.grade}}</td>
                        </tr>
                        <tr>
                            <td>Role</td>
                            <td>{{user.role}}</td>
                        </tr>
                        <tr>
                            <td>Availability</td>
                            <td>{{user.availability}}</td>
                        </tr>
                        <tr>
                            <td>Skill Level</td>
                            <td>{{user.skill_level}}</td>
                        </tr>
                    </table>
                </div>

                {% if favourites %}
                <div class="info-table other">

                    <h3>Favourite Games</h3>
                    <table>
                        <tr>
                            <th>Game</th>
                            <th>Platform</th>
                        </tr>

                        {% for favourite in favourites %}
                        <tr>
                            <td>{{favourite.game_title}}</td>
                            <td>{{favourite.platform}}</td>
                        </tr>
                        {% endfor %}

                    </table>

                </div>
                {% endif %}

                {% if tournaments %}
                <div class="info-table other">
                    <h3>Tournaments Won</h3>
                    <table>
                        <tr>
                            <th>Tournament</th>
                        </tr>
                        {% for tournament in tournaments %}
                        <tr>
                            <td>{{tournament.tournament_name}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% endif %}

                {% if matches %}
                <div class="info-table other">
                    <h3>Matches Won</h3>
                    <table>
                        <tr>
                            <th>Match</th>
                            <th>Tournament</th>
                        </tr>
                        {% for match in matches %}
                        <tr>
                            <td>Match {{match.round_match}}, Round {{match.round}}</td>
                            <td><a href="{{url_for('tournament', tournament_id=match.tournament_id)}}">View Tournament</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="half">
        <div class="user-posts userprof">
            <h3>Posts</h3>
            {% if posts %}
            {% for post in posts %}
            <div class="post">
                <a href="{{url_for('post', post_id=post.post_id)}}"><i
                        class="fa-solid fa-circle-chevron-right"></i>   {{post.post_title}}</a>
                <h4>{{post.post_date|format_datetime}}</h4>
                <p>{{post.post_content}}</p>
            </div>
            {% endfor %}
            {% else %}
            <p>No posts yet</p>
            {% endif %}
        </div>
    </div>

</div>

{% if user.role == "Sponsor" %}
<div class="centre">
    <div class="gen-container">
        <div class="results">
            <h3>All Students Sponsored</h3>
            {% if sponsees %}
            <table>
                <tr>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Grade</th>
                    <th>Availability</th>
                    <th>Skill Level</th>
                </tr>
                {% for sponsee in sponsees %}
                <tr>
                    <td><a href="{{url_for('user', username=sponsee.username)}}"><i
                            class="fa-solid fa-circle-chevron-right"></i>   {{sponsee.username}}</a></td>
                    <td>{{sponsee.role}}</td>
                    <td>{{sponsee.grade}}</td>
                    <td>{{sponsee.availability}}</td>
                    <td>{{sponsee.skill_level}}</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>No students sponsored yet</p>
            {% endif %}
        </div>

    </div>
</div>
{% endif %}








{% endblock %}