{% extends "base.html" %}
{% block content %}

<h1>Username: {{user.username}}</h1>

{% if user.pfp %}
<img style="width: 100px; height=auto;" src="{{url_for('static', filename='pfps/' + user.pfp)}}" alt="profile picture">
{% endif %}

{% if current_user.username == user.username %}
    <a href="{{url_for('edit_profile')}}">Edit Profile</a>
{% endif %}

<br>
<a href="{{url_for('following', username=user.username)}}">Following</a>
<a href="{{url_for('followers', username=user.username)}}">Followers</a>

{% if current_user.username != user.username %}
    {% if mutuals %}
        <h3>Mutuals</h3>
    {% endif %}

    {% if is_following %}
        <a href="{{url_for('unfollow', username=username)}}">Unfollow</a>
    {% else %}
        <a href="{{url_for('follow', username=username)}}">Follow</a>
    {% endif %}
{% endif %}

<h4>{{user.pronouns}}</h4>
<h3>About Me: {{user.user_bio}}</h3>
<h3>Grade: {{user.grade}}</h3>
<h3>Role: {{user.role}}</h3>
<h3>Availability: {{user.availability}}</h3>
<h3>Skill Level: {{user.skill_level}}</h3>

{% for post in posts %}
    <hr>
    <h3><a href="{{url_for('post', post_id=post.post_id)}}">{{post.post_title}} | posted {{post.post_date}}</a></h3>
    <h4>{{post.post_type}}</h4>
    <p>{{post.post_content}}</p>
    <hr>
{% endfor %}



{% endblock %}